.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  padding: 10px; /* Reduced padding */
  box-sizing: border-box;
  background-color: #e3f7fd;
  overflow-y: auto; /* Allow vertical scrolling */
}

h1 {
  margin-bottom: 10px; /* Reduced margin */
  font-size: 2em;
}

.dropdown {
  margin-bottom: 10px; /* Reduced margin */
}

select {
  padding: 8px; /* Reduced padding */
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

select:hover,
select:focus {
  border-color: #0056b3;
  color: #0056b3;
}

.grid {
  margin-bottom: 5px; /* Reduced margin */
}

.controls {
  display: flex;
  justify-content: center;
  gap: 5px; /* Reduced gap */
  margin-top: 5px; /* Reduced margin */
  flex-wrap: wrap; /* To handle smaller screens */
}

button {
  padding: 8px 16px; /* Reduced padding */
  font-size: 16px;
  border: none;
  background-color: #ff9f29;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e88f24;
}

@media (max-width: 600px) {
  /* Adjustments for smaller screens */
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
